@font-face {
   font-family: 'Preciosa';
   src: url("../fonts/Preciosa.woff2") format("woff2"),
       url("../fonts/Preciosa.woff") format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Ancient Kyiv";
   src: url("../fonts/AncientKyiv.woff2") format('woff2'),
       url("../fonts/AncientKyiv.woff") format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Adventure";
   src: url("../fonts/Adventure.woff2") format('woff2'),
       url("../fonts/Adventure.woff") format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "ComforterBrush";
   src: url("../fonts/ComforterBrush-Regular.woff2") format("woff2"),
       url("../fonts/ComforterBrush-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
} 

